body {
  font-family: 'Inter', sans-serif;
}

.font-dm-sans {
  font-family: 'DM Sans', sans-serif;
}

.container {
  padding: 20px;
}

.subHeader, .bodyText {
  margin: 10px 0;
}

#result, .hasil {
  margin-top: 20px;
}

.text-custom-green {
  color:rgba(87, 187, 87, 1);
}

.bg-custom-green {
  background-color: rgba(88, 180, 61, 1);
}

.btn-success {
  background-color: rgba(88, 180, 61, 1);
  border: 0;
}

.navbar {
  padding: 0 !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  padding: 0 !important;
}

h1 {
 font-size: 64px;
}

#welcome {
  margin-bottom: 150px;
}

#hukumwaris {
  margin-bottom: 150px;
}

#artikelhukumwaris {
  margin-bottom: 150px;
}

#thanks {
 background-color: rgba(87, 187, 87, 1);
 color: white;
 padding-bottom: 80px;
}

#footer {
 background-color: rgba(87, 187, 87, 1);
 color: white;
}

.notification-dot {
  position: relative;
}

.notification-dot::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
